:root {
  --bgColor: #faf9f9;
  --color: #06070e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body[data-theme="dark"] {
  --bgColor: #06070e;
  --color: #faf9f9;
}
body {
  min-height: 100vh;
  background: var(--bgColor);
  color: var(--color);
  align-items: center;
  font-family: "Nixie One", cursive;
  font-size: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
