@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #303030;
  color: #fbf9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: #fbf9fa;
  color: #303030;
  border: 1px solid #ececec;
  box-shadow: 0 7px 28px #fbf9fa5e;
}

.watchImg {
  background-image: url("https://images.unsplash.com/photo-1522312346375-d1a52e2b99b3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8d2F0Y2h8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  width: 350px;
  height: 400px;
  background-position: center;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  box-shadow: 0 7px 16px #303030b4;
  border: 1px solid #02c6d4;
}

.count {
  margin: 0 0.25rem;
}

.btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: #303030;
  cursor: pointer;
  margin: 0 0.25rem;
  font-size: 30px;
  border-radius: 0.35rem;
}
.btn:active {
  border: 1px solid #ff0065;
}

.price {
  padding: 0.5rem 1.25rem;
  color: #fbf9fa;
  background-color: #ff0055;
  border-radius: 0.5rem;
  border: 1px solid #ff206a;
  box-shadow: 0 10px 26px #ff005594;
}
